body {
  background: #ccc;
  padding: 2vw;
  text-align: center;
  font-family: helvetica;
}

img {
  margin-top: 5vw;
  width: 20%;
}

h1 {
  background: #000;
  color: #fff;
  text-align: center;
  position: fixed;
  padding: 2vw;
  font-size: 2vw;
  border-radius: 3px;
  opacity: .8;
}